<h1 class="main-logo">ユーザー一覧</h1>
<div class="main users-index">
  <div class="container">
    <% @users.each do |user| %>
      <div class="users-index-item">
        <div class="users-index-left">
          <img src="<%= "/user_images/#{user.image_name}" %>">
        </div>
        <div class="users-index-right">
          <%= link_to(user.name, "/users/#{user.id}")%>
        </div>
      </div>
    <% end %>
  </div>
</div>
