<h1 class="main-logo">ユーザー一覧</h1>
<div class="main users-index">
  <div class="container">
    <% @users.each do |user| %>
      <div class="users-index-item">
        <div class="users-index-left">
          <img src="<%= "/user_images/#{user.image_name}" %>">
        </div>
        <div class="users-index-right">
          <div class="users-index-name">
            <%= link_to(user.name, "/users/#{user.id}")%>
          </div>
          <div class="users-index-text">
            <% User.find_by(id: user.id) %>
            <%= user.user_text %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
