<h2 class="main-logo">投稿編集</h2>
<div class="main posts-edit">
  <div class="container">
    <%= form_tag("/posts/#{@post.id}/update") do %>
        <div class="form-top">
          <% @post.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>
        </div>
        <div class="posts-edit-body">
          <textarea name="content"><%= @post.content %></textarea>
        </div>
        <div class="posts-edit-bottom">
          <input class="button" type="submit" value="保存">
        </div>
    <% end %>
  </div>
</div>
