<h1>フォローユーザーの投稿一覧</h1>

<div class="main posts-index">
  <div class="container">
    <% @posts.each do |post| %>
      <div class="posts-index-item">
        <%= link_to(post.content, "/posts/#{post.id}")%>
        <div class="post-left">
          <img src="/tenryuu.jpg">
        </div>
        <div class="post-right">
          <div class="username">
            <p>username1</p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
