<div class="otameshi-item">
  <div class="otameshi-right">

  </div>
  <div class="otameshi-left">

  </div>
  <div class="otameshi-content">

  </div>
  <div class="otameshi-bottom">

  </div>
</div>
