body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  margin: 0px 80px;
  background-color: rgb(241, 236, 225);
}

.header {
  flex: 1;
  padding: 20px;
  white-space: nowrap;
}

.header-logo {
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  margin: 30px;
}

.header-menus {
  font-size: 15px;
  flex-direction: column;
  display: flex;
  text-align: left;
}

ul, li {
  list-style-type: none;
  padding: 0px;
  margin: 20px;
}

//フォローユーザーの投稿一覧

.main {
  flex: 2;
  margin-left: 10px;
  background-color: rgb(250, 211, 180);
}

.posts-index-item {
  padding: 20px 20px;
  margin: 10px;
  background-color: rgb(241, 236, 225);
  box-shadow: 0 2px 6px #c1ced7;
  overflow: hidden;
  display: flex;
}

.post-left {
  width: 20px;
  margin-right: 10px;
  top: 10px;
  left: 10px;
}

.post-left img {
  width: 50px;
  height: 50px;
  border-radius: 30%;
  box-shadow: 0 2px 6px #c1ced7;
  object-fit: cover;
}

.post-right {
  float: left;
  width: 70%;
  padding-left: 25px;
  text-align: left;
  flex-direction: column;
}

//ランキング

.ranking {
  flex: 2;
  text-align: center;
  margin-left: 10px;
  background-color: rgb(250, 211, 180);
}

@media screen and(max-width: 800px) {
  .ranking {display:none}
}

//Exposerについて
.about-main {
  background-image: url("/about_1.jpg");
  background-size: contain;
  color: white;
}
