//共通

body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  margin: 0px 80px;
  background-color: rgb(241, 236, 225);
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.header a {
  text-decoration: none;
  color: black;
  position: relative;
  display: inline-block;
}

.header a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #333;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform .3s;
}
.header a:hover::after {
  transform: scale(1, 1);
}

.header {
  flex: 1;
  padding: 20px;
  white-space: nowrap;
  text-decoration: none;
}

.app-title {
  display: flex;
}

.good-svg {
  margin: 30px 10px 30px 30px;
}

.header-logo {
  font-size: 20px;
  font-weight: bold;
  margin: 40px 0px 50px 0px;
}

.header-menus {
  font-size: 15px;
  flex-direction: column;
  display: flex;
  text-align: left;
}

.header-menus ul, li {
  list-style-type: none;
  margin: 30px;
}

.main-logo {
  margin: 20px;
  font-size: 20px;
}

.flash {
  background-color: rgb(247, 225, 155);
  font-weight: bold;
  text-align: center;
}

//フォローユーザーの投稿一覧

.main {
  flex: 2;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(250, 211, 180);
}

//ランキング

.ranking {
  flex: 2;
  padding: 15px 10px 0px 10px;
  margin-left: 10px;
  background-color: rgb(250, 211, 180);
}

@media screen and(max-width: 800px) {
  .ranking {display:none}
}

//Exposerについて
.about-main {
  background-image: url("/about_1.jpg");
  background-size: contain;
  color: white;
}
