/* users/index ================================ */

.users-index-item {
  background-color: rgb(212, 182, 164);
  display: flex;
  border-radius: 0.3rem;
  padding: 10px 10px;
  margin: 10px 0px;
  position: relative;
}

.users-index-item a:hover {
  text-decoration: underline;
}

.users-index-item a,p {
  text-decoration: none;
  color: black;
}

.users-index-left {
  margin-right: 10px;
}

.users-index-left img {
  width: 50px;
  height: 50px;
  border-radius: 30%;
  box-shadow: 0 2px 6px #c1ced7;
  object-fit: cover;
}

.users-index-right {
  margin: 5px;
}

.users-index-text {
  min-height: 20px;
  margin: 5px 0px;
}

.users-index-name {
  margin: 0 0 10px 0;
}

.user-follow {
  width: 100px;
  border-radius: 20px;
  background-color: rgba(247, 225, 155,1);
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  margin-left: 70%;
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.user-follow:hover {
  font-weight: bold;
}

/* users/show ================================ */

.user-show a {
  text-decoration: none;
  color: black;
}

.user {
  display: flex;
  flex-direction: column;
  position: relative;
}

.user-info {
  display: flex;
}

.user-left {
  width: 80px;
  margin-right: 20px;
}

.user-right h2 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 5px;
}

.user-right p {
  font-size: 15px;
  margin-top: 10px;
}

.user img {
  width: 80px;
  height: 80px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  object-fit: cover;
}

.user-text {
  padding: 5px;
  margin: 5px;
  min-height: 30px;
}

.user-info-edit {
  width: 100px;
  border-radius: 20px;
  background-color: rgba(247, 225, 155,1);
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  margin-left: 70%;
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.user-info-edit:hover {
  font-weight: bold;
}

.user-tabs {
  margin-top: 40px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
}

.tabs {
  display: flex;
  border-bottom: 1px solid black;
}

.tabs li {
  margin: 10px;
}

.tabs li:hover {
  font-weight: bold;
}

.active {
  font-weight: bold;
}

/* users/edit ================================ */
.users-edit {
  display: flex;
  flex-direction: column;
  position: relative;
}

.users-edit-body {
  height: 380px;
}

.users-edit-body input {
  width: 100%;
  border: none;
  border-radius: 0.3rem;
  background-color: rgb(212, 182, 164);
  margin-bottom: 20px;
}

.users-edit-body textarea {
  width: 100%;
  min-height: 140px;
  background-color: rgb(212, 182, 164);
  resize: none;
}

.users-edit-body p {
  font-weight: bold;
}

.users-edit-bottom {
  position: relative;
  min-height: 30px;
  margin: 10px;
}

.user-edit-button {
  width: 90px;
  border-radius: 20px;
  background-color: rgb(212, 182, 164);
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  position: absolute;
  right: 10px;
  bottom: 15px;
}

/* users/login_form  ================================ */
.users-login {
  display: flex;
  flex-direction: column;
  min-height: 280px;
  position: relative;
}

.users-login-body {
  text-align: center;
}

.users-login-body input {
  width: 70%;
  border: none;
  border-radius: 0.3rem;
  background-color: rgb(212, 182, 164);
  margin-bottom: 20px
}

.users-login-bottom {
  min-height: 30px;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid black;
}

.users-login-body p {
  font-weight: bold;
}

.users-login-button {
  display: inline-block;
  background-color: rgb(212, 182, 164);
  padding: 0.3em 1em;
  border-radius: 20px;
  text-decoration: none;
  color: black;
  transition: .4s;
  cursor: pointer;
  position: absolute;
  right: 20px;
}

.users-login-button:hover {
  background-color: rgba(247, 225, 155,1);
  font-weight: bold;
}

.guest-login {
  width: 180px;
  background-color: rgba(247, 225, 155,1);
  text-decoration: none;
  padding: 0.1em;
  border-radius: 20px;
  color: black;
  transition: .4s;
  cursor: pointer;
  margin: 0 auto;
}

.guest-login a {
  text-decoration: none;
  color: black;
}

.guest-login a:hover {
  font-weight: bold;
}

/* users/new  ================================ */

.users-new-body input {
  width: 100%;
  border: none;
  border-radius: 0.3rem;
  background-color: rgb(212, 182, 164);
  margin-bottom: 20px;
}

.users-new-bottom {
  position: relative;
  min-height: 30px;
  margin: 10px;
}

.user-new-button {
  width: 90px;
  border-radius: 20px;
  background-color: rgb(212, 182, 164);
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  position: absolute;
  right: 10px;
  bottom: 15px;
}

